/* ============= All Audio List Styles =============== */
.audio-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    transition: background-color 0.2s ease, border-left-color 0.2s ease;
}

.audio-item.active,
.audio-item:hover,
.audio-item.active:hover {
    background-color: whitesmoke !important;
    background: whitesmoke;
    border: 1px solid #22c90b;
}

.audio-item.active .audio-title,
.audio-item:hover .audio-title,
.audio-item.active:hover .audio-title {
    color: #026126;
}

.audio-left {
    flex: 1;
}

.audio-title {
    color: rgb(4, 102, 15);
    font-size: 1rem;
    font-weight: 500;
}

.audio-meta {
    font-size: 0.85rem;
    color: #800020;
}

/* ------ Play, Add to favorites and Download buttons ------ */
.audio-actions {
    display: flex;
    gap: 3px;
}

.icon-box {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
/* ------------------------------------------------------ */

/* ===================================================== */


/* ================ Main Player ======================= */
.media-player {
    width: min(100%, 450px);
    max-width: 450px;
    color: #fff;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.artwork {
        background: rgb(206, 199, 199);
        margin: 0;
    display: block;
        padding: 10px;
}

.main-controls {
    background: rgb(3, 105, 15);
    line-height: 14.9px;
    border-radius: 10px;
    margin: 0 5px;
}

.track-info img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.track-info img,
#trackArtwork {
    display: block;
    margin: 0 auto;
}

.track-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-details, .timeline, .extras {
    padding: 0 8px 0 8px;
}

#trackTitle {
    overflow: hidden;
    white-space: nowrap;
}

#trackTitle marquee {
    width: 40%;
    display: block;
}
/* ===================================================== */


/* ================ Progress Bar ======================= */
.progress-bar {
    height: 4px;
    background: #ddd;
    position: relative;
    cursor: pointer;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #26a69a;
}

#progress {
    flex: 1;
    height: 4px;
}
/* ===================================================== */


/* =================== Timeline ======================= */
.timeline {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* ===================================================== */


/* ====== Previous, Play(Pause) and Next Controls ===== */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex: 1;
    margin: 0;
    gap: 6px;
    flex-wrap: wrap;
    padding-top: 0;
}

.controls button {
   border-radius: 5px;
   padding-top: 0;
   margin-top: 5px;
}

button {
    background: rgb(1, 88, 11);
    border: 0.1px solid whitesmoke;
    color: white;
    padding: 0 5px;
    cursor: pointer;
    height: 25px;
}

button:hover {
    background: #800020;
}

.extras {
    display: flex;
    margin-bottom: 3px;
}

/* ============== Volume Controls ===================== */
.volume-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0.6;
    align-items: center;
    gap: 10px;
}

#mute {
    padding: 0 7px;
    font-size: 15px;
    border-radius: 5px;
}
/* ============== Playback Speed ===================== */
.playback-speed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0.3;
    align-items: center;
    margin-right: 5px;
}

.playback-speed label, .playback-speed .speed-value, .volume-rate {
    color: #fff;
    font-size: 0.8rem;
    white-space: nowrap;
}

.playback-speed select {
    font-size: 12px;
    background: rgb(1, 88, 11);
    color: #fff;
    border: 0.5px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    height: 25px;
}
/* ===================================================== */
