body {
    background:  rgba(4, 102, 15, 0.148);
    background-position: right;
    display: flex;
    margin: 0;
    flex-direction: column;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 15px;
}