@media (max-width: 768px) {
    .carousel-video {
        height: auto;
        max-height: 400px;
        min-height: 220px;
    }
}

/* Mobile */
@media (max-width: 768px) {

    .cloudinary-carousel-player-container {
        height: auto;
        min-height: 220px;
        aspect-ratio: 16 / 9;
    }

    .cloudinary-carousel-player-container .cld-video-player,
    .cloudinary-carousel-player-container .video-js,
    .cloudinary-carousel-player-container video {
        width: 100% !important;
        height: 100% !important;
        min-height: 220px;
    }
}


@media (max-width: 1024px) {
    .sidenav-trigger {
        display: flex;
        margin-left: auto;
    }
}



@media (max-width: 768px) {
    .hide-on-med-and-down {
        display: none !important;
    }

    .sidenav-trigger {
        display: block !important;
    }
}

@media (min-width: 769px) {
    .sidenav-trigger {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .audio-sidenav-close {
        display: block;
    }
}


/* ===== Footer Responsiveness on small screens ===== */
@media (min-width: 600px) and (max-width: 657px) {
    #services {
        padding-left: 13.5%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto;
    }

    #contact {
        width: 50% !important;
        padding-left: auto !important;
    }

    #background-music {
        width: auto !important;
        padding-left: 0 !important;
    } audio {
        width: 70% !important;
    }
}

@media (min-width: 657px) and (max-width: 990px) {
    #services {
        padding-left: 16%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto;
    }

    #contact {
        width: 50% !important;
        padding-left: auto !important;
    }

    #background-music {
        width: auto !important;
        padding-left: 0 !important;
    } audio {
        width: 50% !important;
    }
}

@media screen and (min-width: 690px) {
    #first-card {
        position: relative;
        left: 78% !important;
    }

    #second-card {
        margin-left: 34% !important;
    }

    #third-card {
        position: relative;
        right: 35% !important;
    }
    
    #copyright {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #developer {
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 10%;
    }
}
/* =============================================== */